<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.byk.myboke.boke.mapper.DisplayWorksMapper" >
  <resultMap id="BaseResultMap" type="com.byk.myboke.boke.entity.DisplayWorks" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="page_name" property="pageName" jdbcType="VARCHAR" />
    <result column="page_address" property="pageAddress" jdbcType="VARCHAR" />
    <result column="page_link" property="pageLink" jdbcType="VARCHAR" />
    <result column="page_class" property="pageClass" jdbcType="VARCHAR" />
    <result column="target_link" property="targetLink" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_user" property="deleteUser" jdbcType="VARCHAR" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, page_name, page_address, page_link, page_class, target_link, create_user, create_time, 
    update_user, update_time, delete_user, delete_time, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from boke_display_works
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="list" resultMap="BaseResultMap"  >
    select   *
    from boke_display_works
    where del_flag = '0'
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from boke_display_works
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.byk.myboke.boke.entity.DisplayWorks" >
    <selectKey keyProperty="id" resultType="string" order="BEFORE">
      select replace(uuid(), '-', '') as id from dual
    </selectKey>
    insert into boke_display_works (id, page_name, page_address, 
      page_link, page_class, target_link, 
      create_user, create_time, update_user, 
      update_time, delete_user, delete_time, 
      del_flag)
    values (#{id,jdbcType=VARCHAR}, #{pageName,jdbcType=VARCHAR}, #{pageAddress,jdbcType=VARCHAR}, 
      #{pageLink,jdbcType=VARCHAR}, #{pageClass,jdbcType=VARCHAR}, #{targetLink,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteUser,jdbcType=VARCHAR}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.byk.myboke.boke.entity.DisplayWorks" >
    <selectKey keyProperty="id" resultType="string" order="BEFORE">
      select replace(uuid(), '-', '') as id from dual
    </selectKey>
    insert into boke_display_works
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pageName != null" >
        page_name,
      </if>
      <if test="pageAddress != null" >
        page_address,
      </if>
      <if test="pageLink != null" >
        page_link,
      </if>
      <if test="pageClass != null" >
        page_class,
      </if>
      <if test="targetLink != null" >
        target_link,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteUser != null" >
        delete_user,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="pageName != null" >
        #{pageName,jdbcType=VARCHAR},
      </if>
      <if test="pageAddress != null" >
        #{pageAddress,jdbcType=VARCHAR},
      </if>
      <if test="pageLink != null" >
        #{pageLink,jdbcType=VARCHAR},
      </if>
      <if test="pageClass != null" >
        #{pageClass,jdbcType=VARCHAR},
      </if>
      <if test="targetLink != null" >
        #{targetLink,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteUser != null" >
        #{deleteUser,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.byk.myboke.boke.entity.DisplayWorks" >
    update boke_display_works
    <set >
      <if test="pageName != null" >
        page_name = #{pageName,jdbcType=VARCHAR},
      </if>
      <if test="pageAddress != null" >
        page_address = #{pageAddress,jdbcType=VARCHAR},
      </if>
      <if test="pageLink != null" >
        page_link = #{pageLink,jdbcType=VARCHAR},
      </if>
      <if test="pageClass != null" >
        page_class = #{pageClass,jdbcType=VARCHAR},
      </if>
      <if test="targetLink != null" >
        target_link = #{targetLink,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteUser != null" >
        delete_user = #{deleteUser,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.byk.myboke.boke.entity.DisplayWorks" >
    update boke_display_works
    set page_name = #{pageName,jdbcType=VARCHAR},
      page_address = #{pageAddress,jdbcType=VARCHAR},
      page_link = #{pageLink,jdbcType=VARCHAR},
      page_class = #{pageClass,jdbcType=VARCHAR},
      target_link = #{targetLink,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_user = #{deleteUser,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>